<p>&nbsp;</p>
<table class="tableContent" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f6f6f6">
    <tbody>
    <tr>
        <td>
            <table class="MainContainer" style="font-family: Verdana, Geneva, Tahoma, sans-serif;" border="0"
                   width="600" cellspacing="0" align="center" bgcolor="#f6f6f6">
                <tbody>
                <tr>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" width="20">&nbsp;</td>
                                <td valign="top">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="movableContentContainer">
                                                <div class="movableContent"
                                                     style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height="20">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table border="0" width="100%" cellspacing="0"
                                                                       cellpadding="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td align="left" valign="middle">
                                                                            <div class="contentEditableContainer contentImageEditable">
                                                                                <div class="contentEditable"><img
                                                                                        src="cid:image1" alt="TCL"
                                                                                        width="80" height="auto"
                                                                                        data-default="placeholder"
                                                                                        data-max-width="80"/></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="movableContent"
                                                     style="border: 0px; padding-top: 0px; position: relative;"><br/>
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height="20">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 10px;" align="center" bgcolor="#A0C8A5">
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <h1 style="color: #ffffff; font-family: Verdana,Geneva,Tahoma,sans-serif;">
                                                                            &nbsp;{{ fname }} Joined our Community </h1>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="bgItem" style="border: 1px solid #dddddd;"
                                                                       border="0" width="100%" cellspacing="0"
                                                                       cellpadding="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td colspan="3" height="20">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="25">&nbsp;</td>
                                                                        <td>
                                                                            <table class="bgItem" style="width: 100%;"
                                                                                   border="0" width="100%"
                                                                                   cellspacing="0" cellpadding="0"
                                                                                   align="left">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">
                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                            <div class="contentEditable">
                                                                                                <h2 style="border: 0; outline: none; text-decoration: none; color: #777777; font-family: Verdana,Geneva,Tahoma,sans-serif; font-weight: normal;">
                                                                                                    &nbsp;</h2>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;"
                                                                                        align="left" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                            <div class="contentEditable">
                                                                                                <h2 style="border: 0; outline: none; text-decoration: none; color: #777777; font-family: Verdana,Geneva,Tahoma,sans-serif; font-weight: normal;">
                                                                                                    &nbsp;</h2>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">First
                                                                                        Name
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;"
                                                                                        height="5">&nbsp;{{ fname }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">Last
                                                                                        Name
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;"
                                                                                        align="left" valign="top">&nbsp;{{ lname }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">Email
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;"
                                                                                        height="5">&nbsp;{{ email }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">Phone
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;">&nbsp;{{ phone }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="width: 31.6872%;">
                                                                                        Company
                                                                                    </td>
                                                                                    <td style="width: 67.9012%;">&nbsp;{{company }}
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="25">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left: 25px; padding-right: 25px;"
                                                                            colspan="3" align="center" height="20">
                                                                            <div style="width: 100%; height: 1px; display: inline-block; background-color: #e2e2e2;">
                                                                                &nbsp;
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="movableContent"
                                                     style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0"
                                                           align="center">
                                                        <tbody>
                                                        <tr>
                                                            <td height="28">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style="color: #a8b0b6; font-size: 13px; line-height: 16px; font-family: Verdana,Geneva,Tahoma,sans-serif;">
                                                                            Copyright 2020 True Cost Label. all the
                                                                            rights reserved.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="movableContent"
                                                     style="border: 0px; padding-top: 0px; position: relative;">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height="28">&nbsp;</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td valign="top" width="20">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>