container_commands:
  migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  media:
    command: "sudo mkdir media && sudo chown -R webapp:webapp media && sudo chmod 777 media"
